/* landing.css */
@font-face {
  font-family: 'Clarity City';
  src: url('path/to/clarity-city.woff2') format('woff2'), /* Update the path to the actual font file */
       url('path/to/clarity-city.woff') format('woff'); /* Update the path to the actual font file */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('path/to/proxima-nova-bold.woff2') format('woff2'), /* Update the path to the actual font file */
       url('path/to/proxima-nova-bold.woff') format('woff'); /* Update the path to the actual font file */
  font-weight: bold;
  font-style: normal;
}

*{
    padding:0;
    margin:0;
    font-family: 'Proxima Nova SemiBold', sans-serif;
    background-color: #F9F9F9;
  }
  
  
  .navbar {
    background-color: #F9F9F9;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* justify-content: flex-end; */
  }
  
  .logo {
      color: #1b0a0a;
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    nav ul {
        list-style: none;
        display: flex;
    }
    
    nav ul li {
        margin-right: 20px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    h1 {
      color: #333333;
    }
    
    p {
      color: #666666;
    }
    
    a {
      display: flex;
      padding: 15px 20px;
      color: #ffffff;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }
    
    a:hover {
      background-color: #71A894;
    }
    
    .auth_buttons {
      display: flex;
      gap: 10px;
    }
    
    .auth_buttons a {
      color: #000;
      text-decoration: none;
      padding: 15px 20px;
      border-radius: 4px;
      /* background-color: #4caf50; */
      transition: background-color 0.3s ease;
      font-family: 'Clarity City', sans-serif;
    }
    
    .auth_buttons a:hover {
      background-color: #71A894;
    }
    




    
    .landing_content {
        height: 100vh;
        background-color: #F9F9F9;
        display: flex;
        flex-direction: row;
    }
  
    .text
    {
      display: flex;
      flex-direction: column;
      text-align:left;
      justify-content: space-evenly;
      padding: 40px;
      margin-bottom: 150px;
    }

    .content_text
    {
      color: #303031;
      font-size: 50px;
      font-family: 'Clarity City';
      /* margin-bottom: 90px; */
    }
  
    .content_text1
    {
      color: #303031;
      /* margin-bottom: 150px; */
      font-size: 19px;
      font-family: 'Proxima Nova';
    }


    .content_image
    {
      display: flex;
      justify-content: flex-end;
      background-color: #F9F9F9;
      /* margin-block-end: 1px; */
      /* margin-bottom: 1px; */
    }

    .get_started_button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #71a894;
      color: #F9F9F9;
      padding: 12px;
      width: 112px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      height: 55px;
      font-weight: 400;
    }
    
    .get_started_button:hover:hover {
      background-color: #4f7668;
    }


  .aboutus {
    height: 100vh;
    background-color: #F9F9F9;
    padding: 40px;
  }
  
  h2 {
    color: #333333;
  }
  